{% load static %}

{% block title %}
    حساب کاربری خود را بسازید
{% endblock %}

{% block content %}
    <h1>حساب کاربری</h1>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <form class= "form-with-validation" action="{% url 'users:register' %}" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <br>
        <button class="form-submit"><h4>ثبت نام</h4></button>
    </form>
{% endblock %}
<br>
<h3>
   برای ورود به حساب کاربری خود روی گزینه زیر کلیک کنید👇 
   <br>
   <br>
  <form action="{% url 'users:login' %}" method="get">
    <button type="submit"><h4>ورود به حساب کاربری</h4></button>
  </form>
</h3>
